h1{
    text-shadow: 1px 0 0 white;
    text-shadow: 0 1px 0 white;
    text-shadow: -1px 0 0 white;
    text-shadow: 0 -1px 0 white;
    color:#0019ff;
}
.con{
    background-color:white;
}
h2{

    text-decoration:underline;
}
body {
    background: linear-gradient(#b2f4ff,#a1e7ff,#4fb5ff);
  }
.k{
    opacity: 0.5;
}