h1{
    text-shadow: 1px 0 0 white;
    text-shadow: 0 1px 0 white;
    text-shadow: -1px 0 0 white;
    text-shadow: 0 -1px 0 white;
    padding: 1rem 2rem;
    display: inline-block;
    border: 3px solid #000;
    border-color:blue;
    color:#0019ff;
}
ol{
    background-color:white;
    padding: 1rem 2rem;
    display: block;
}
.con{
    background-color:white;
}
h2{

    text-decoration:underline;
}
body {
    background: linear-gradient(#b2f4ff,#a1e7ff,#4fb5ff);
  }
.k{
    opacity: 0.5;
}
#Up{
    background-color:white;
    display: inline-block;
    padding: 1rem 2rem;
    position: fixed;
    right:10px;
    bottom:20px;
    border: 2px solid;
    border-color:blue;
}